@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
    transition: opacity 0.25s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    svg {
        pointer-events: none;
        color: rgba(from var(--primary) r g b / 0.5);
        width: 2.5rem;
        height: 2.5rem;
        animation: spin 0.5s linear infinite;
    }
}
